#statusbar {
    display: flex;
    height: auto;
    padding: 12px;
    display: flex;
    column-gap: 20px;
    color: #fff;
    background-color: #313131;
}

#name {
    font-family: sans-serif;
}

#health-l {}

#charge-l {}

#oxigen-l {}

#deep-l {}